apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: asrv2-mongodb-ingress
  namespace: asrv2
spec:
  entryPoints:
    - mongodb
  routes:
    - kind: Rule
      match: Host(`db.asrv2.com`)
      priority: 10
      services:
        - name: asrv2-mongodb
          port: 27017
  tls:
    secretName: asrv2-mongodb-tls

