apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: asrv2

images:
  - name: registry.digitalocean.com/topcode/asrv2:v0.0.2
    newTag: v0.0.2

resources:
  - ../../base
  - ./ingress.yaml
  - ./cm.yaml
  - ./secret.yaml
  - ./cert.yaml

